body{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(135deg, plum, violet,purple, orange ) fixed;
 
 }
 #container{
  
 
 }
 
 #title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: center;
 }
 
 #day-container{
    max-width: 560px;
    margin: 20px auto;
 }
 
 
 .row{
 
    display: flex;
    height: 80px;
 }
 
 
 
 .day{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   color: plum;
   padding: 5px;
   background-color: transparent(white);
   box-shadow: 
    -1px -1px whitesmoke, 
    inset -1px -1px 0 0 whitesmoke;
}
 }
 
 .row:first-of-type .day:first-of-type {
    margin-left: 42.85714%;
  }

  .row:last-of-type .day:last-of-type {
    margin-right: 14.285%;
  }
 
  #days-of-week:first-of-type .each-day:first-of-type{
      margin-left: 42.85714%;
  } 
  #days-of-week:last-of-type .each-day:last-of-type{
      margin-right: 14.285%
  }
#days-of-week{
    display: flex;
 
 